.header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
  border-bottom: 1px solid #fff;
}

.dropdown:hover .alta {
  position: absolute;
  display: block;
}

.salam:hover .sola {
  position: absolute;
  display: block;
  visibility: visible;
}

.sola {
  visibility: hidden;
  margin-left: 110px;
}

.hover-red:hover {
  color: red;
  transition: 0.5s;
}

header ul a:hover {
  text-decoration-line: underline;
  text-decoration-color: red;
}

.dropdown-menu a:hover {
  text-decoration: none;
  color: red;
  transition: 0.3;
}

.margin-left {
  margin-left: 150px;
}

.about {
  width: 100%;
  height: 1000px;
}

.section-header {
  text-align: center;
  padding-bottom: 30px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #7f7f90;
  text-transform: uppercase;
}
.section-header p {
  font-size: 48px;
  font-weight: 400;
  font-family: "Amatic SC", cursive;
}

.call-us {
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  text-align: center;
}

main section {
  overflow: hidden;
  padding: 80px 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.why-us .why-box {
  padding: 30px;
  background: #ce1212;
  color: #fff;
}

.why-us .why-box h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .why-box p {
  margin-bottom: 30px;
}

.why-us .why-box .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .why-box .more-btn i {
  font-size: 14px;
}

.why-us .why-box .more-btn:hover {
  color: #ce1212;
  background: #fff;
}

.why-us .icon-box {
  text-align: center;
  background: #fff;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(55, 55, 63, 0.1);
  transition: 0.3s;
}

.why-us .icon-box i {
  color: #ce1212;
  margin-bottom: 30px;
  font-size: 32px;
  margin-bottom: 30px;
  background: rgba(206, 18, 18, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.why-us .icon-box h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px 0;
  font-family: #37373f;
}

.why-us .icon-box p {
  font-size: 15px;
  color: #6c757d;
}

@media (min-width: 1200px) {
  .why-us .icon-box:hover {
    transform: scale(1.1);
  }
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

/* Stats Section */
.stats-counter {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/stats-bg.jpg") center center;
  background-size: cover;
  padding: 100px 0;
}
.stats-counter .stats-item {
  padding: 30px;
  width: 100%;
}

.stats-counter .stats-item span {
  font-size: 48px;
  display: block;
  color: #fff;
  font-weight: 700;
}

.stats-counter .stats-item p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}
/* End Stats Section */

/* Menu Section */
.menu .nav-tabs {
  border: 0;
}

.menu .nav-link {
  margin: 0 10px;
  padding: 10px 5px;
  transition: 0.3s;
  color: #37373f;
  cursor: pointer;
  height: 100%;
  border-bottom: 2px solid #b6b6bf;
}

@media (max-width: 575px) {
  .menu .nav-link {
    margin: 0 10px;
    padding: 10px 0;
  }
}

.menu .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.menu .nav-link h4 {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

@media (max-width: 575px) {
  .menu .nav-link h4 {
    font-size: 16px;
  }
}

.menu .nav-link:hover {
  color: #ce1212;
}

.menu .nav-link.active {
  color: #ce1212;
  border-color: #ce1212;
}

.menu .tab-content .tab-header {
  padding: 30px 0;
}

.menu .tab-content .tab-header p {
  font-size: 14px;
  text-transform: uppercase;
  color: #676775;
  margin-bottom: 0;
}

.menu .tab-content .tab-header h3 {
  font-size: 36px;
  font-weight: 600;
  color: #ce1212;
}

.menu .tab-content .menu-item {
  -moz-text-align-last: center;
  text-align-last: center;
}

.menu .tab-content .menu-item .menu-img {
  padding: 0 60px;
  margin-bottom: 15px;
}

.menu .tab-content .menu-item h4 {
  font-size: 22px;
  font-weight: 500;
  color: #37373f;
  font-family: "Inter", sans-serif;
  font-weight: 30px;
  margin-bottom: 5px;
}

.menu .tab-content .menu-item .ingredients {
  font-family: "Inter", sans-serif;
  color: #8d8d9b;
  margin-bottom: 5px;
}

.menu .tab-content .menu-item .price {
  font-size: 24px;
  font-weight: 700;
  color: #ce1212;
}
/* End Menu Section */

/* Testimonials Section */
.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonial-item .testimonial-content {
  border-left: 3px solid #ce1212;
  padding-left: 30px;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #212529;
  font-family: "Inter", sans-serif;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #6c757d;
  margin: 0 0 10px 0;
  font-family: "Inter", sans-serif;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item p {
  font-style: italic;
}

.testimonials .testimonial-item .testimonial-img {
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

/* End Testimonials Section */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

section {
  margin-top: 70px;
}

.h-auto {
  height: auto;
}

.h-500 {
  height: 500px;
}

.h-1000 {
  height: 1000px;
}

.mt-90 {
  margin-top: 90px;
}

.h-60vh {
  min-height: 60vh;
}

.pbtn {
  font-size: 40px;
}

.f-size64 {
  font-size: 64px;
  font-weight: 700;
  color: #37373f;
  font-family: "Amatic SC", cursive;
}

.btn-book {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 36px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: red;
  box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);
}

.dd {
  position: fixed;
}

#carouselExampleIndicators {
  height: 250px;
}
.bg-eee {
  background-color: #eee;
}

#hero p {
  color: #4f4f5a;
}

.section-header p span {
  color: #ce1212;
}
